<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="stylesheet" href="/CSS/styles.css">
    <script src="https://kit.fontawesome.com/57a0e5632c.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="superior"> 
    <section class="box-principal">
        <div class="logo-search">
             <div>
                  <img class="logo" src="/img/mercadoLibre.png" alt="">
             </div> 
            <div class="busqueda">
                  <input type="text" placeholder="Buscar productos, marcas">
                  <button><i class="fas fa-search"></i></button> 
             </div>
     </div>
          <div class="icon__cuotas">
            <p>
               <i class="fas fa-hand-holding-usd"></i>
               Comprá en cuotas y sin tarjeta de crédito
             </p>
          </div>

    </section>
  <nav class="navegacionPrincipal">    
      <ul class="infoTienda">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>         
     </ul>
      <ul class="ingresoLogin"> 
          <li>
              <a href="">Creá tu cuenta <i class="far fa-id-card"></i></a>
          </li>
          <li>
              <a href="">Ingresar <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
              <a href="">Compras <i class="fas fa-shopping-basket"></i></a>
          </li> 
     </ul>
</nav>
     <button class="burger-menu"><i class="fas fa-bars"></i></button>
      </div>
</header>
<main>
     <section>
            <img class="banner" src="/img/img-home-banner.jpg" alt="">
     </section>
      <h2 class="ultimasVistas">Basado en tu última visita</h2>
     <section class="productos">
          
          <article class="articulo">
            <img class="detalleProducto" src="/img/img-cafetera-moulinex.jpg" alt="">
            <div class="detalle">
                <div class="camion">
                    <i class="fas fa-truck"></i>
                </div>
                <p>$6.770</p>
                <span>40% off</span>
                <h3>Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="articulo">
            <img class="detalleProducto" src="/img/img-macbook-pro-2019.jpg" alt="">
            <div class="detalle">
                <div class="camion">
                    <i class="fas fa-truck"></i>
                </div>
                <p>$230.000</p>
                 <span>20% off</span>
                <h3>MacBook Pro 2019</h3>
            </div>
          </article>
          <article class="articulo">
           <img class="detalleProducto" src="/img/img-samsung-galaxy-s10.jpg" alt="">
           <div class="detalle">
              <div class="camion">
                 <i class="fas fa-truck"></i>
              </div>
               <p>$70.500</p>
                <span>10% off</span> 
               <h3>Samsung Galaxy S10</h3>
           </div>
          </article>
          <article class="articulo">
           <img class="detalleProducto" src="/img/img-tv-samsung-smart.jpg" alt="">
          <div class="detalle">
             <div class="camion">
                 <i class="fas fa-truck"></i>
             </div>
               <p>$23.200</p>
                <span>5% off</span>
               <h3>SmartTv Samsung 43"</h3>
              </article>
          </div>
    </section>
      <H2 class="ofertas">¡OFERTAS!</H2>
    <section class="productos">
       
    <article class="articulo">
        <img class="detalleProducto" src="/img/img-cafetera-moulinex.jpg" alt="">
         <div class="detalle"> 
             <div class="camion">
                <i class="fas fa-truck"></i>
             </div>
                     <p>$6.700</p>
                     <span>40% off</span>
                     <h3>Cafetera Moulinex</h3>
       </div> 
     </article>
    <article class="articulo">
        <img class="detalleProducto" src="/img/img-macbook-pro-2019.jpg" alt="">
         <div class="detalle">
            <div class="camion">
                <i class="fas fa-truck"></i>
            </div>
             <p>$230.000</p>
             <span>20% off</span>
             <h3>MacBook Pro 2019</h3>
         </div>
    </article>
    <article class="articulo">
        <img class="detalleProducto" src="/img/img-samsung-galaxy-s10.jpg" alt="">
         <div class="detalle">
            <div class="camion">
                <i class="fas fa-truck"></i>
            </div>
             <p>$70.500</p>
             <span>10% off</span>
             <h3>Samsung Galaxy S10</h3>
         </div>
    </article>
    <article class="articulo">
        <img class="detalleProducto" src="/img/img-tv-samsung-smart.jpg" alt="">
          <div class="detalle">
            <div class="camion">
                <i class="fas fa-truck"></i>
            </div>
              <p>$23.200</p>
              <span>5% off</span>
              <h3>SmartTv Samsung 43"</h3>
          </div>
    </article>
    </section>
</main>
<footer>
    <section>
        <i class="fas fa-credit-card"></i>
         <h3>Pagá con tarjeta o en efectivo</h3>
          <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
            puntos de <br> pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <i class="fas fa-gift"></i>
         <h3>Envío gratis desde $ 2.500</h3>
          <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de
            productos. Es <br> un beneficio de Mercado Puntos.</p>
    </section>
    <section>
        <i class="fas fa-user-shield"></i>
         <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br> no hay nada que no puedas hacer,
            porque estás <br> siempre protegid@.</p>
    </section>
    <section class="copyright">
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
     </section>   
</footer>
</body>
</html>